  <div class="col-md-12 ml-5 mt-4 no-padding">
              <!--   <h2 class="fw-100">Posts</h2>
                 <h5 class="fw-100">Recommended for you</h5>
                <div class="row mt-3">
                  <div class="col-md-2  ml-3 no-padding" >
                <div class="card p-2" style="width: 15rem">
                  <img class="card-img-top img-hover" src="ss.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Free Conference</h5><br />
                    <a href="#" class="">Go somewhere</a>
                  </div>
                </div>
            </div>
            <div class="col-md-2  ml-3 no-padding">
                <div class="card p-2" style="width: 15rem">
                  <img class="card-img-top" src="ss1.png" alt="Card image cap">
                  <div class="card-body">
                  <h5 class="card-title">Pretty cool App</h5><br />
                    <a href="#">Go somewhere</a>
                  </div>
                </div>
            </div>
            <div class="col-md-2 ml-3 no-padding">
                <div class="card p-2" style="width: 15rem">
                  <img class="card-img-top" src="ss2.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">A cool App</h5><br />
                    <a href="#">Go somewhere</a>
                  </div>
                </div>
            </div>
            <div class="col-md-2 ml-3 no-padding">
                <div class="card p-2" style="width: 15rem">
                  <img class="card-img-top" src="ss3.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Some Other App</h5><br />
                    <a href="#">Go somewhere</a>
                  </div>
                </div>
            </div>
            <div class="col-md-2 ml-3 no-padding">
                <div class="card p-2" style="width: 15rem">
                  <img class="card-img-top" src="ss4.png" alt="Card image cap">
                  <div class="card-body">
                        <h5 class="card-title">Some App</h5><br />
                    <a href="#">Go somewhere</a>
                  </div>
                </div>
            </div> 
        </div>
    </div> -->
       <div class="col-12 ml-5 mt-3 no-padding" ng-controller="productsCtrl">
           <h2 class="fw-100" ng-init="products.myProducts()">Products</h2>
            <h5 class="fw-100">Recommended for you</h5>
        <div class="row mt-3 no-padding">
             <div class="col-md-2 ml-3 no-padding" ng-repeat="(index, x) in products.data">
                <div class="card p-2" style="width: 15rem">
                  <img class="card-img-top" src="ss4.png" alt="Card image cap">
                  <div class="card-body">
                        <h5 class="card-title">Some App</h5><br />
                    <a href="#">Go somewhere</a>
                  </div>
                </div>
            </div><!--
              <div class="col-md-2 ml-3 no-padding">
                <div class="card p-2" style="width: 15rem">
                  <img class="card-img-top" src="ss3.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Some Other App</h5><br />
                    <a href="#">Go somewhere</a>
                  </div>
                </div>
            </div>
             <div class="col-md-2 ml-3 no-padding">
                <div class="card p-2" style="width: 15rem">
                  <img class="card-img-top" src="ss1.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Some Other App</h5><br />
                    <a href="#">Go somewhere</a>
                  </div>
                </div>
            </div>
             <div class="col-md-2 ml-3 no-padding">
                <div class="card p-2" style="width: 15rem">
                  <img class="card-img-top" src="ss2.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Some Other App</h5><br />
                    <a href="#">Go somewhere</a>
                  </div>
                </div>
            </div>
             <div class="col-md-2 ml-3 no-padding">
                <div class="card p-2" style="width: 15rem">
                  <img class="card-img-top" src="ss.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Some Other App</h5><br />
                    <a href="#">Go somewhere</a>
                  </div>
                </div>
            </div> -->
         </div>
     </div>
       <div class="col-md-12 ml-5 mt-4 no-padding">
                 <h2 class="fw-100" ng-init="payments.myPayments()">Payments</h2>
                 <h5 class="fw-100">Recommended for you</h5>
                <div class="row mt-3">
                 <div class="col-md-2  ml-3 no-padding" ng-repeat="(index, x) in payments.data">
                <div class="card p-2" style="width: 15rem">
                  <img class="card-img-top img-hover" src="ss.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Free Conference</h5>
                    <br />
                    <p><a href="#" class="">Go somewhere</a></p>
                  </div>
                </div>
            </div>
            <!--
            <div class="col-md-2  ml-3 no-padding">
                <div class="card p-2" style="width: 15rem">
                  <img class="card-img-top" src="ss1.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Pretty cool App</h5><br />
                    <a href="#">Go somewhere</a>
                  </div>
                </div>
            </div>
            <div class="col-md-2 ml-3 no-padding">
                <div class="card p-2" style="width: 15rem">
                  <img class="card-img-top" src="ss2.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">A cool App</h5><br />
                    <a href="#">Go somewhere</a>
                  </div>
                </div>
            </div>
            <div class="col-md-2 ml-3 no-padding">
                <div class="card p-2" style="width: 15rem">
                  <img class="card-img-top" src="ss3.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Some Other App</h5><br />
                    <a href="#">Go somewhere</a>
                  </div>
                </div>
            </div>
            <div class="col-md-2 ml-3 no-padding">
                <div class="card p-2" style="width: 15rem">
                  <img class="card-img-top" src="ss4.png" alt="Card image cap">
                  <div class="card-body">
                        <h5 class="card-title">Some App</h5><br />
                    <a href="#">Go somewhere</a>
                  </div>
                </div>
            </div> -->
        </div>
    </div>
            </section>
        </main>
